@model IEnumerable<Lab7.Models.RolesWithUsersViewModel>

@{
    ViewData["Title"] = "Roles";
    Layout = "_Layout";
}

<h1>Roles</h1>

<p>
    <a asp-action="CreateRole" class="btn btn-primary">Create New Role</a>
    <a asp-action="AddUserToRole" class="btn btn-secondary">Add User To Role</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Id</th>
            <th>Users in Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.RoleName</td>
                <td>@role.RoleId.Substring(0,8)</td> @*wanted this shorter.*@
                <td>
                    @if (!role.Users.Any())
                    {
                        <span class="text-muted">No Users</span>
                    }
                    else
                    {
                        <ul>
                            @foreach (var user in role.Users)
                            {
                                <li>@user</li>
                            }
                        </ul>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

